<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <comment_template>
            <div v-for="(comment, index) in comments">
                <br>
                <button v-on:click="likeComment(index)">+</button>
                <p> {{ comment.comment_name }} || {{ comment.comment_date }} ||  Score : {{ comment.current_score }} </p>
                <button v-on:click="dislikeComment(index)">-</button>
            </div>
        </comment_template>
        <br>
        <textarea id="comment_box" rows="4" cols="50" v-model="new_comment" @keyup.enter="addComment(new_comment)"></textarea>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"> </script>
    <script>
        var data = {
            new_comment: "",
            comments: [
                {
                    comment_name:"komentar 1",
                    comment_date:"28-02-2021 01:00",
                    current_score:0,
                    initial_score:0,
                    like:false,
                    dislike:false
                },
                {
                    comment_name:"komentar 2",
                    comment_date:"28-02-2021 03:50",
                    current_score:5,
                    initial_score:5,
                    like:false,
                    dislike:false
                },
                {
                    comment_name:"komentar 3",
                    comment_date:"28-02-2021 07:33",
                    current_score:3,
                    initial_score:3,
                    like:false,
                    dislike:false
                }
            ]
        }  
        
        var vo = new Vue({
            el: '#app',
            data: data,
            methods: {
                getDateNow:function(){
                    var current = new Date();
                    var date = current.getDate()+'-'+(current.getMonth()+1)+'-'+current.getFullYear()+' '+current.getHours()+':'+current.getMinutes();
                    return date
                },
                addComment: function (comment) {
                    var date = this.getDateNow()
                    vo.comments.push(
                        {
                            comment_name:comment, 
                            comment_date:date, 
                            current_score:0,
                            initial_score:0,
                            like:false,
                            dislike:false
                        }
                    )
                },
                getScoreNow:function (keys, value=0){
                    var scoreNow = this.comments[keys].current_score + value
                    return scoreNow
                },
                likeComment: function (keys) {
                    this.comments[keys].current_score = this.comments[keys].like == false ? vo.comments[keys].initial_score + 1 : vo.comments[keys].initial_score
                    console.log(this.comments[keys].current_score)
                    this.comments[keys].like = !vo.comments[keys].like
                    this.comments[keys].dislike = false
                },
                dislikeComment: function (keys) {
                    this.comments[keys].current_score = this.comments[keys].dislike == false ? vo.comments[keys].initial_score - 1 : vo.comments[keys].initial_score
                    this.comments[keys].dislike = !vo.comments[keys].dislike
                    this.comments[keys].like = false
                }
            }
        })
    </script>

</body>
</html>