<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
  
    <h1>Belajar Vue Router</h1>

    <!-- Pengganti tag <a href=""></a>  -->
    <router-link to="/">Home</router-link>
    <router-link to="/about">About</router-link>
    <router-link to="/categories">Categories</router-link>  

    <!-- Untuk Menampilkan component secara dinamis , sesuai dengan route yang diakses -->
    <router-view></router-view>
  </div>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script type="module">
    // import { CategoriesComponent } from './CategoriesComponent.js'
    // import { CategoryComponent } from './CategoryComponent.js'
    // Kita membuat 2 component , yaitu Home dan About
    const Home = { template: '<div>Ini Halaman Home</div>' }
    const About = { template: '<div>Ini Halaman About</div>' }
    const CategoriesComponent = {
      data () {
          return {
              categories: [
                  {
                      id: 1,
                      title: 'Alat Tulis'
                  },
                  {
                      id: 2,
                      title: 'Alat Mandi'
                  },
                  {
                      id: 3,
                      title: 'Alat Masak'
                  },
                  
              ]
          }
      },
      template: `
          <div>
              <h1>Daftar Kategori</h1>
              <ul>
                  <li v-for="category of categories">
                      <router-link :to="'/category/'+category.id"> 
                          {{ category.title }} 
                      </router-link>
                  </li>
              </ul>
          </div>
      ` 
    }
    const CategoryComponent = {
      data(){
          return {
              categories: [
                  {
                      id: 1,
                      title: 'Alat Tulis',
                      description : 'Alat tulis adalah alat yang digunakan untuk menulis, diantaranya pulpen, pensil, penghapus, dll.'
                  },
                  {
                      id: 2,
                      title: 'Alat Mandi',
                      description : 'Alat tulis adalah alat yang digunakan untuk mandi, diantaranya gayung, sikat gigi, handuk, dll.'

                  },
                  {
                      id: 3,
                      title: 'Alat Masak',
                      description : 'Alat tulis adalah alat yang digunakan untuk memasak, diantaranya panci, kompor, katel, dll.'

                  },
                  
              ]
          }
      },
      computed: {
          category() {
              return this.categories.filter((category)=>{
                  return category.id === parseInt(this.$route.params.id)                
              })[0]
          }
      },
      template: `<div >
              <h1>Category :  {{ category.title }}</h1>
              <ul>
                  <li v-for="(num, value) of category">
                      {{ num +' : '+ value }} <br>
                  </li>
              </ul>
          </div>`,
    }

    // Kemudian kita arahkan setiap route ke component yang kita inginkan
    const routes = [
      { path: '/', component: Home, alias: '/home' },
      { path: '/about', component: About, meta: {login:true} },
      { path: '/categories', component: CategoriesComponent },
      { path: '/category/:id', component: CategoryComponent },
      { path: '*', redirect: '/' }
    ]

    //Kemudian kita instansiasi object Vue Router dan tambahkan routes yang sudah kita buat tadi
    const router = new VueRouter({
      routes 
    })

    router.beforeEach((to, from, next) => {
      if( to.matched.some(record => record.meta.login)){
        let auth = true;
        if(!auth){
          alert('Halaman ini hanya untuk user yang sudah login! ')
          next(false)
        }
        else{
          next()
          alert('Berhasil masuk!')

        }
      }
      else{
        next()
      }
    })

    //Kemudian kita tambahkan object VueRouter yang kita namakan router ke object Vue
    const app = new Vue({
      router
    }).$mount('#app')
  </script>
 
</body>
</html>