<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <comment_template>
            <input type="text" v-model="new_users">
            <button @click="insertOrUpdateUsers(new_users)" v-model="index_user"> {{ btnUser }} </button>
            <div v-for="(user, index) in users">
                <ul>
                    <li>
                        {{ user.name }}
                        <button @click="editUser(index)"> Edit </button> 
                        || 
                        <button @click="deleteUser(index)"> Delete </button>
                    </li>
                </ul>
            </div>
        </comment_template>
        <br>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"> </script>
    <script>
        var data = {
            index_user:0,
            btnUser:"Add",
            new_users:"",
            users: [
                {
                    name: 'Muhammad Iqbal Mubarok'
                },
                {
                    name: 'Ruby Purwanti'
                },
                {
                    name: 'Faqih Muhammad'
                }
            ]
        }
        
        var vo = new Vue({
            el: '#app',
            data: data,
            methods: {
                insertOrUpdateUsers: function (new_users) {
                    if(this.btnUser == "Add"){
                        vo.users.push({name:new_users})
                    }
                    else{
                        this.users[this.index_user].name = new_users
                        this.btnUser = "Add"
                    }
                    this.new_users = ""
                },
                editUser:function(index){
                    this.new_users = this.users[index].name
                    this.btnUser = "Update"
                    this.index_user = index
                },
                deleteUser: function(index){
                    var rmUser = confirm("Anda Yakin akan menghapus nama "+this.users[index].name+" ?");
                    if (rmUser == true) {
                        this.users.splice(index, 1);
                    }
                }
            }
        })
    </script>
</body>
</html>