<!DOCTYPE html>
<html>
<head>
	<title>Vuex</title>
	<style>
		body {
			font-family: sans-serif;
			margin: 5%
		}
	</style>
</head>
<body>

<div id="app">
	<h1> {{ $store.state.count }} </h1>
	<p>State Management Pattern</p>
	<button @click="incrementmethod">Hitung</button>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vuex@3.5.1/dist/vuex.js"></script>

<script>
	const store = new Vuex.Store({
		state:{
			count:1,
			tittle:'vuejs'
		},
		mutations:{
			increment(state){
				state.count++
			}
		},
		actions:{

		}
	})

	new Vue({
		el: '#app',
		data: {
			tittle:'Vuejs',
			count: 1
		},
		store,
		methods:{
			incrementmethod(){
				// this.$store.state.count++
				this.$store.commit("increment")
			}
		}
	})
</script>
</body>
</html>